:root {
  --primary-color: rgb(234, 52, 164);
  --secondary-color: #edc9e3;
  --default-font-family: "amandine", sans-serif;
  --heading-font-family: "lemonde-courrier", serif;
}

h1 {
  font-size: 90px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 48px;
  font-family: var(--default-font-family);
  font-weight: 600;
}

h3 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 1.8;
}

nav {
  padding: 15px;
  font-family: var(--heading-font-family);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-flex;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #06071d;
  transition: all 100ms ease-in-out;
  font-size: 18px;
}

nav li.active a,
nav a:hover {
  color: var(--primary-color);
}

footer {
  margin: 60px 0;
}

foooter .btn {
  background: var(--primary-color);
  padding: 15px;
  border-radius: 8px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 36px;
}

.hero h3 {
  font-family: var(--heading-font-family);
  font-size: 24px;
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 5px;
  border-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 650;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 25px 15px;
  text-align: center;
  margin: 20px 0;
}

.content-container h1 {
  font-weight: 200;
}

.content-container h2 {
  font-weight: 400;
}

.content-container p {
  font-weight: 500;
}

.content-container img {
  max-width: 100%;
  display: block;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.content a {
  font-size: 18px;
  color: var(--primary-color);
}

.content h1 {
  font-size: 60px;
}

.content h2 {
  font-size: 22px;
  font-family: var(--default-font-family);
  font-weight: 300;
}
.content h3 {
  font-size: 32px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 18px;
}

.logo {
  max-height: 60px;
}

.img-fluid {
  max-width: 85%;
  display: block;
  border-radius: 20px;
  margin: 0 10px 0 10px;
}

.projects-link {
  display: block;
  font-size: 18px;
  padding: 30px;
  font-family: var(--heading-font-family);
}
.project-content {
  padding: 20px 10px;
  margin: 20px;
  text-align: center;
}

.project-content h2 {
  font-size: 52px;
}

.project-content p {
  font-size: 20px;
}

@media (max-width: 972px) {
  h1,
  h2 {
    font-size: 44px;
    line-height: 1.5;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
  }

  .hero {
    padding: 40px;
  }

  .index-container {
    text-align: center;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .logo {
    margin-top: 10px;
  }

  .img-fluid {
    margin: 10px 0;
  }
}
